<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Unit-Brno19, Brno</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/css.css') }}">
</head>
<body id="page-top">
<div id="main">

    <div class="main-title">
        <div class="content">
            <h1>Create your own advertisement</h1>
            <p class="lead">You can create video from our templates</p>
            <a href="set_video" class="btn"> CREATE YOUR VIDEO </a>
        </div>
    </div>

    <footer id="footer">
        <div class="copyright-section">
            <div class="content">
                <a>Designed By: Jafurky</a>
            </div>
        </div>
    </footer>

</div>

</body>
</html>